* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --soft-white: #fffefc;
  --soft-black: #1f2126;
  --lightest-green: #43e9b1;
  --light-green: #12cf99;
  --green: #006f42;
  --deep-green: #003d16;
  --deeper-green: #004c23;
  --deepest-green: #06291d;
  --ti-cursor-color: var(--deepest-green);
}

p, span, button {
  color: var(--soft-black);
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
}

button {
  padding: 1% 2%;
  border: none;
  background-color: rgba(0, 111, 66, 0.05);
  cursor: pointer;
}

.bg {
  min-height: 100vh;
  background-color: var(--deepest-green);
  background-size: cover;
  padding : 10% 5%;
}

.title {
  text-align: center;
  color: var(--soft-white);
  font-size: 6vw;
}

.page {
  width: 100%;
  height: 135vw;
  margin: 0 auto;
  margin-top: 10%;
  background-color: var(--soft-white);
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .intro_date_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}

.intro_date_container > p {
  color: var(--soft-black);
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-size: 4vw;
} */

.intro_img_container {
  display: flex;
  justify-content: center;
}

.intro_img_container > img {
  width: 95%;
}

#calendar, #location {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.calendar_container {
  height: 70%;
}

.calendar_title {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar_title > p {
  font-weight: 500;
  font-size: 4vw;
}

.calendar_content {
  height: 80%;
}

table {
  margin: 0 auto;
  width: 100%;
  height: 90%;
  table-layout: fixed;
}

table thead {
  height: 15%;
}

table tbody {
  height: 85%;
}

table td, th {
  color: var(--soft-black);
  font-family: "Diphylleia", serif;
  font-style: normal;
  font-size: 4vw;
}

table th {
  font-weight: 500;
}

table td {
  position: relative;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

table .d-day > p {
  position: absolute;
}

table .d-day > p:nth-of-type(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--soft-white);
  z-index: 2;
}

table .d-day > i {
  font-size: 8vw;
  transform: translate(0, 10%);
  z-index: 1;
  color: var(--green);
}

table .d-day > p:nth-of-type(2) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-size: 1vw;
  font-weight: 600;
  color: var(--deep-green);
}

.sun {
  color: var(--green);
}

.d-day_container {
  height: 30%;
}

.d-day_clock {
  display: flex;
  justify-content: center;
  height: 50%;
  padding-top: 5%;
}

.d-day_clock > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.d-day_box {
  width: 15%;
  background-color: rgba(0, 111, 66, 0.1);
}

.d-day_box > p, .colon > p {
  text-align: center;
}

.colon {
  width: 5%;
}

.d-day_box > p:nth-child(1), .colon > p:nth-child(1) {
  font-size: 5vw;
  font-weight: 500;
  height: 75%;
  vertical-align: middle;
}

.d-day_box > p:nth-child(2), .colon > p:nth-child(2) {
  height: 25%;
}

.d-day_box > p:nth-child(1) {
  color: var(--deep-green);
}

.d-day_box > p:nth-child(2) {
  transform: translate(0, -50%);
  font-size: 2.5vw;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  color: var(--deep-green);
}

.d-day_sentence {
  height: 50%;
  text-align: center;
  padding-top: 5%;
}

.d-day_sentence * {
  font-size: 3.5vw;
}

.d-day_sentence i {
  color: var(--lightest-green);
}

.d-day_sentence > #remain-day {
  font-weight: 700;
  color: var(--deep-green);
}

#location {
  height: 250vw;
}

.location_title_container {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed rgba(0, 111, 66, 0.2);
}

.location_title_container > p {
  font-weight: 500;
  font-size: 4vw;
}

.location_address_container {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location_address_container * {
  font-size: 3.5vw;
}

.location_address_container > button {
  margin-top: 2%;
}

.location_map_container {
  height: 40%;
}

.location_map_checkbox {
  height: 10%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

#chkTraffic {
  display: none;
}

#chkTraffic + label {
  cursor: pointer;
  font-size: 3vw;
  font-weight: 300;
  color: var(--soft-black);
  padding-right: 10px;
  display: inline-block;
}

#chkTraffic + label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--light-green);
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 5px;
  transform: translateY(-10%);
}

#chkTraffic:checked + label:before {
  content: "";
  background-color: var(--light-green);
  border-color: var(--light-green);
  background-image: url('/images/check-white.png');
  background-repeat: no-repeat;
  background-position: 50%;
}

.location_map_box {
  height: 70%;
}

#map {
  height: 100%;
  display: block;
}

.customoverlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float:left;
}

.customoverlay:nth-of-type(n) {
  border: 0; 
  box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: var(--deep-green);
  background: var(--deep-green) url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.customoverlay .title {
  color: var(--soft-black);
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.customoverlay:after {
  content: '';
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}

.connect-to-nav_box {
  height: 20%;
  display: flex;
  align-items: center;
}

.connect-to-nav_box > button {
  width: 100%;
  height: 70%;
  background: var(--deeper-green);
  font-family: "IBM Plex Sans KR", sans-serif;
  color: var(--soft-white);
  border-radius: 5px;
}

.location_transportation_container {
  height: 35%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location_transportation_container * {
  font-family: "IBM Plex Sans KR", sans-serif;
}

.location_transportation_container > div > div:nth-of-type(1) {
  padding-bottom: 1vw;
  border-bottom: 1px dashed rgba(0, 111, 66, 0.2);
}

.location_transportation_container > div > div:nth-of-type(1) > p {
  font-weight: 600;
}

.location_transportation_container > div > div:nth-of-type(2) {
  padding-top: 1vw;
}

.location_transportation_container > div > div:nth-of-type(2) * {
  font-size: 3.2vw;
}

.subway_box{
  height: 20%;
  background-color: pink;
}

.subway_box_content > span:nth-of-type(1),
.subway_box_content > span:nth-of-type(2) {
  font-size: 2vw !important;
  color:white;
  background-color: black;
  border-radius: 10px;
  padding: 3px 5px;
}

.bus_box {
  height: 40%;
  background-color: pink;
}

.car_box {
  height: 20%;
  background-color: pink;
}

.transportation_info_box {
  height: 15%;
  background-color: pink;
}

.transportation_info_box > p {
  font-size: 3.2vw;
}

@media screen and (min-width : 768px) {
  .title {
    font-size: 4vw;
  }

  .page {
    width: 50%;
    height: 65vw;
  }

  .intro_date_container > p {
    font-size: 2vw;
  }

  .calendar_title > p, table td, th, .location_title_container > p {
    font-size: 1.6vw;
  }

  table .d-day > i {
    font-size: 3vw;
  }

  table .d-day > p:nth-of-type(2) {
    transform: translate(-50%, 10%);
    font-size: 0.5vw;
  }

  .d-day_box > p:nth-child(1), .colon > p:nth-child(1) {
    font-size: 2vw;
  }
  
  .d-day_box > p:nth-child(2), .colon > p:nth-child(2) {
    font-size: 0.6vw;
  }

  .d-day_sentence * {
    font-size: 1.4vw;
  }

  #location {
    height: 100vw;
  }

  .location_address_container * {
    font-size: 1.2vw;
  }

  .location_address_container > button {
    margin-top: 5%;
  }

  #chkTraffic + label {
    font-size: 1.2vw;
  }

  .connect-to-nav_box > button {
    font-size: 1.1vw;
  }

  .location_transportation_container > div > div:nth-of-type(1) {
    padding-bottom: 0.4vw;
  }

  .location_transportation_container > div > div:nth-of-type(2) {
    padding-top: 0.4vw;
  }

  .location_transportation_container > div > div:nth-of-type(2) * {
    font-size: 1vw;
  }

  .subway_box_content > span:nth-of-type(1),
  .subway_box_content > span:nth-of-type(2) {
    font-size: 0.7vw !important;
    border-radius: 10px;
    padding: 3px 5px;
}

  .transportation_info_box > p {
    font-size: 1vw;
  }
}